* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
}

.collapsed {
  display: none;
}

.collapsed-content::after {
  content: "...";
  padding: 0 0 0 4px;
  color: #cb4b16;
}

.key {
  color: #002b36;
}

.value {
  color: #cb4b16;
}

.index {
  color: #6c71c4;
}

.bracket {
  color: #002b36;
  font-weight: bold;
}

.json {
  height: 100vh;
  width: 100%;
  padding: 16px 32px;
  overflow: scroll;
}

.json .json-itens {
  display: block;
  margin-left: 20px;
}

.json .bracket {
  cursor: pointer;
}

.json-container {
  width: 100%;
}
