@import url("./json-formatter.style.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.drop-zone {
  border: 2px dashed rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  width: 50%;
  height: 150px;
  max-width: 900px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  padding: 8px;
}

.drop-zone:hover {
  background-color: #ffffff;
  border-color: #242424;
  color: #242424;
}

.drop-zone.dragover {
  background-color: #ffffff;
  border-color: #242424;
  color: #242424;
}

.error {
  color: rgb(226, 24, 24);
  border-color: rgb(248, 41, 41);
}

.drop-zone.error:hover {
  color: rgb(226, 24, 24);
  border-color: rgb(248, 41, 41);
}

.tip {
  color: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
